.judges {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

.judge__video {
  grid-row: 1;
}

.judge__video video {
  width: 100%;
  display: block;
}

.judge__video img {
  width: 100%;
  display: none;
}

.judge__lin {
  background-image: url('/img/contest/linhuiming.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

@media (max-width: 996px) {
  .judges {
    grid-template-columns: 1fr;
  }

  .judge__video {
    grid-row: unset;
  }

  .judge__video img {
    display: block;
  }
}

.judge__bib {
  align-self: self-start;
  text-align: center;
}

.judge__name {
  font-weight: bold;
}

.logos {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  margin-bottom: 1rem;
}

.logos img {
  display: block;
}

.logo {
  background-color: white;
  border: 1px solid black;
  border-radius: 4px;
  flex: 0 0 15rem;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  padding: 16px 8px;
  color: black;
}

.logo--iscas-2025 {
  padding: 2px 8px;
}

.logo--iscas-2025 img {
  height: 100%;
}

.logo--iscas {
  background-color: white;
  border: 1px solid black;
  border-radius: 4px;
  flex: 0 0 25rem;
  max-width: 100%;
  height: 80px;
  display: flex;
}

.logo--iscas-left {
  flex: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
}

.logo--iscas-left::after {
  content: '';
  position: absolute;
  right: 0;
  height: 75%;
  width: 2px;
  background-color: black;
}

.logo--iscas-left img {
  max-width: 300px;
  width: 300px;
  padding-top: 10px;
  height: auto;
}

.logo--iscas-right {
  flex: 1;
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
}

@media (width < 446px) {
  .logo--iscas-right {
    padding: 0 0.2rem;
  }
}

.logo--iscas-right div {
  flex: 1;
}
